In [6]:
import pandas as pd

# Read datasets
cpi = pd.read_csv('./inflationIndicatorsUpdates/cpi_data.csv')
IR = pd.read_csv('./inflationIndicatorsUpdates/InterestRate.csv')
gdp = pd.read_csv('./inflationIndicatorsUpdates/GDP.csv')
er_usd = pd.read_csv('./inflationIndicatorsUpdates/ExchangeRate_usd.csv')
er_eur = pd.read_csv('./inflationIndicatorsUpdates/ExchangeRate_eur.csv')
unem = pd.read_csv('./inflationIndicatorsUpdates/UnemploymentRate.csv')
xau = pd.read_csv('./inflationIndicatorsUpdates/XAU.csv')

# Convert 'year', 'month', and 'day' columns to integers
er_usd['year'] = er_usd['year'].astype(int)
er_usd['month'] = er_usd['month'].astype(int)
er_usd['day'] = er_usd['day'].astype(int)

er_eur['year'] = er_eur['year'].astype(int)
er_eur['month'] = er_eur['month'].astype(int)
er_eur['day'] = er_eur['day'].astype(int)

cpi['year'] = cpi['year'].astype(int)
cpi['month'] = cpi['month'].astype(int)
cpi['day'] = cpi['day'].astype(int)

xau['year'] = xau['year'].astype(int)
xau['month'] = xau['month'].astype(int)
xau['day'] = xau['day'].astype(int)

IR['year'] = IR['year'].astype(int)
IR['month'] = IR['month'].astype(int)
IR['day'] = IR['day'].astype(int)

gdp['year'] = gdp['year'].astype(int)

unem['year'] = unem['year'].astype(int)

# Concatenate the datasets along the 'Year' column
InflationIndicator_df = (
    er_usd.merge(er_eur, on=['year', 'month', 'day'], how='outer')
    .merge(cpi, on=['year', 'month', 'day'], how='outer')
    .merge(xau, on=['year', 'month', 'day'], how='outer')
    .merge(IR, on=['year', 'month', 'day'], how='outer')
    .merge(gdp, on=['year'], how='outer')
    .merge(unem, on=['year'], how='outer')
)

# Optionally, sort the combined DataFrame by the 'Year' column
InflationIndicator_df.sort_values(['year'], inplace=True)

# Display the first few rows of the combined DataFrame
InflationIndicator_df.tail(60)

,year,month,day,EGP_x,USD,EGP_y,EUR,cpi_rate,Unnamed: 0,XAU_Price,InterestRate,gdp_rate,UnemploymentRate
10240,2024,2,21,1.0,30.9000,1.0,33.4369,NaN,NaN,NaN,NaN,NaN,NaN
10241,2024,2,22,1.0,30.9000,1.0,33.4215,NaN,NaN,NaN,NaN,NaN,NaN
10239,2024,2,20,1.0,30.9000,1.0,33.3071,NaN,NaN,NaN,NaN,NaN,NaN
10238,2024,2,19,1.0,30.9002,1.0,33.2994,NaN,NaN,NaN,NaN,NaN,NaN
10237,2024,2,17,1.0,30.9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10236,2024,2,16,1.0,30.9045,1.0,33.2793,NaN,NaN,NaN,NaN,NaN,NaN
10242,2024,2,23,1.0,30.9009,1.0,33.4462,NaN,NaN,NaN,NaN,NaN,NaN
10249,2024,3,4,NaN,NaN,1.0,33.5467,NaN,NaN,NaN,NaN,NaN,NaN
10265,2024,3,25,NaN,NaN,1.0,50.5648,NaN,NaN,NaN,NaN,NaN,NaN
10251,2024,3,6,NaN,NaN,1.0,33.5543,NaN,NaN,NaN,27.25%,NaN,NaN
10235,2024,2,15,1.0,30.9000,1.0,33.1464,NaN,NaN,NaN,NaN,NaN,NaN
10264,2024,3,24,NaN,NaN,1.0,50.5648,NaN,NaN,NaN,NaN,NaN,NaN
10263,2024,3,22,NaN,NaN,1.0,50.6619,NaN,NaN,NaN,NaN,NaN,NaN
10262,2024,3,21,NaN,NaN,1.0,51.2148,NaN,NaN,NaN,NaN,NaN,NaN
10261,2024,3,20,NaN,NaN,1.0,51.1151,NaN,NaN,NaN,NaN,NaN,NaN
10260,2024,3,19,NaN,NaN,1.0,51.2227,NaN,NaN,NaN,NaN,NaN,NaN
10250,2024,3,5,NaN,NaN,1.0,33.5451,NaN,NaN,NaN,NaN,NaN,NaN
10259,2024,3,18,NaN,NaN,1.0,51.4585,NaN,NaN,NaN,NaN,NaN,NaN
10257,2024,3,14,NaN,NaN,1.0,53.0406,NaN,NaN,NaN,NaN,NaN,NaN
10256,2024,3,13,NaN,NaN,1.0,53.3238,NaN,NaN,NaN,NaN,NaN,NaN
10255,2024,3,12,NaN,NaN,1.0,53.5871,NaN,NaN,NaN,NaN,NaN,NaN
10254,2024,3,11,NaN,NaN,1.0,53.7652,NaN,NaN,NaN,NaN,NaN,NaN
10253,2024,3,8,NaN,NaN,1.0,54.0284,NaN,NaN,NaN,NaN,NaN,NaN
10252,2024,3,7,NaN,NaN,1.0,53.9946,NaN,NaN,NaN,NaN,NaN,NaN
10258,2024,3,15,NaN,NaN,1.0,52.0208,NaN,NaN,NaN,NaN,NaN,NaN
10234,2024,2,14,1.0,30.9000,1.0,33.0924,NaN,NaN,NaN,NaN,NaN,NaN
10218,2024,1,23,1.0,30.9000,1.0,33.6285,NaN,NaN,NaN,NaN,NaN,NaN
10232,2024,2,12,1.0,30.9000,1.0,33.3133,NaN,NaN,NaN,NaN,NaN,NaN
10266,2024,3,10,NaN,NaN,NaN,NaN,35.70%,NaN,NaN,NaN,NaN,NaN
10202,2024,1,1,1.0,31.0302,1.0,34.1260,NaN,2.0,"62,926.11",NaN,NaN,NaN
10203,2024,1,2,1.0,30.9000,1.0,34.1275,NaN,1.0,"63,050.27",NaN,NaN,NaN
10204,2024,1,3,1.0,30.9000,1.0,33.8598,NaN,0.0,"101,139.67",NaN,NaN,NaN
10205,2024,1,4,1.0,30.9000,1.0,33.7747,NaN,NaN,NaN,NaN,NaN,NaN
10206,2024,1,5,1.0,30.7971,1.0,33.7168,NaN,NaN,NaN,NaN,NaN,NaN
10207,2024,1,8,1.0,30.9000,1.0,33.7137,NaN,NaN,NaN,NaN,NaN,NaN
10208,2024,1,9,1.0,30.9000,1.0,33.8417,NaN,NaN,NaN,NaN,NaN,NaN
10209,2024,1,10,1.0,30.9000,1.0,33.7783,33.70%,NaN,NaN,NaN,NaN,NaN
10210,2024,1,11,1.0,30.9000,1.0,33.9066,NaN,NaN,NaN,NaN,NaN,NaN
10211,2024,1,12,1.0,30.8983,1.0,33.9081,NaN,NaN,NaN,NaN,NaN,NaN
10212,2024,1,15,1.0,30.9000,1.0,33.8494,NaN,NaN,NaN,NaN,NaN,NaN
10213,2024,1,16,1.0,30.9000,1.0,33.8793,NaN,NaN,NaN,NaN,NaN,NaN
10214,2024,1,17,1.0,30.9000,1.0,33.6007,NaN,NaN,NaN,NaN,NaN,NaN
10233,2024,2,13,1.0,30.9000,1.0,33.2824,NaN,NaN,NaN,NaN,NaN,NaN
10215,2024,1,18,1.0,30.9000,1.0,33.6254,NaN,NaN,NaN,NaN,NaN,NaN
10217,2024,1,22,1.0,30.9000,1.0,33.6547,NaN,NaN,NaN,NaN,NaN,NaN
10219,2024,1,24,1.0,30.9000,1.0,33.5404,NaN,NaN,NaN,NaN,NaN,NaN
10220,2024,1,25,1.0,30.9024,1.0,33.6347,NaN,NaN,NaN,NaN,NaN,NaN
10221,2024,1,26,1.0,30.9034,1.0,33.5049,NaN,NaN,NaN,NaN,NaN,NaN
10222,2024,1,29,1.0,30.9000,1.0,33.5567,NaN,NaN,NaN,NaN,NaN,NaN
10223,2024,1,30,1.0,30.9000,1.0,33.4740,NaN,NaN,NaN,NaN,NaN,NaN
10224,2024,1,31,1.0,30.9000,1.0,33.5544,NaN,NaN,NaN,NaN,NaN,NaN
10225,2024,2,1,1.0,30.9000,1.0,33.4153,NaN,NaN,NaN,21.25%,NaN,NaN
10226,2024,2,2,1.0,30.9001,1.0,33.5945,NaN,NaN,NaN,NaN,NaN,NaN
10227,2024,2,5,1.0,30.9000,1.0,33.3226,NaN,NaN,NaN,NaN,NaN,NaN
10228,2024,2,6,1.0,30.9002,1.0,33.1959,NaN,NaN,NaN,NaN,NaN,NaN
10229,2024,2,7,1.0,30.9000,1.0,33.2330,NaN,NaN,NaN,NaN,NaN,NaN
10230,2024,2,8,1.0,30.9000,1.0,33.2855,29.80%,NaN,NaN,NaN,NaN,NaN
10231,2024,2,9,1.0,30.8972,1.0,33.3071,NaN,NaN,NaN,NaN,NaN,NaN
10216,2024,1,19,1.0,30.8967,1.0,33.6053,NaN,NaN,NaN,NaN,NaN,NaN
10267,2024,3,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:

InflationIndicator_df.drop(columns=['EGP_x'], axis="1", inplace=True)

In [16]:
InflationIndicator_df

,year,month,day,USD,EUR,cpi_rate,Unnamed: 0,XAU_Price,InterestRate,gdp_rate,UnemploymentRate
0,1990,5,31,2.6892,NaN,NaN,NaN,NaN,NaN,5.667029,NaN
87,1990,10,2,2.7567,NaN,NaN,NaN,NaN,NaN,5.667029,NaN
86,1990,10,1,2.7567,NaN,17.96%,NaN,NaN,NaN,5.667029,NaN
85,1990,9,28,2.7467,NaN,NaN,NaN,NaN,NaN,5.667029,NaN
84,1990,9,27,2.7467,NaN,NaN,NaN,NaN,NaN,5.667029,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10229,2024,2,7,30.9000,33.2330,NaN,NaN,NaN,NaN,NaN,NaN
10230,2024,2,8,30.9000,33.2855,29.80%,NaN,NaN,NaN,NaN,NaN
10231,2024,2,9,30.8972,33.3071,NaN,NaN,NaN,NaN,NaN,NaN
10216,2024,1,19,30.8967,33.6053,NaN,NaN,NaN,NaN,NaN,NaN
10267,2024,3,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
InflationIndicator_df

,year,month,day,USD,EUR,cpi_rate,XAU_Price,InterestRate,gdp_rate,UnemploymentRate
0,1990,5,31,2.6892,NaN,NaN,NaN,NaN,5.667029,NaN
87,1990,10,2,2.7567,NaN,NaN,NaN,NaN,5.667029,NaN
86,1990,10,1,2.7567,NaN,17.96%,NaN,NaN,5.667029,NaN
85,1990,9,28,2.7467,NaN,NaN,NaN,NaN,5.667029,NaN
84,1990,9,27,2.7467,NaN,NaN,NaN,NaN,5.667029,NaN
...,...,...,...,...,...,...,...,...,...,...
10229,2024,2,7,30.9000,33.2330,NaN,NaN,NaN,NaN,NaN
10230,2024,2,8,30.9000,33.2855,29.80%,NaN,NaN,NaN,NaN
10231,2024,2,9,30.8972,33.3071,NaN,NaN,NaN,NaN,NaN
10216,2024,1,19,30.8967,33.6053,NaN,NaN,NaN,NaN,NaN
10267,2024,3,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
InflationIndicator_df['EGP'] = 1
InflationIndicator_df

,year,month,day,USD,EUR,cpi_rate,XAU_Price,InterestRate,gdp_rate,UnemploymentRate,EGP
0,1990,5,31,2.6892,NaN,NaN,NaN,NaN,5.667029,NaN,1
87,1990,10,2,2.7567,NaN,NaN,NaN,NaN,5.667029,NaN,1
86,1990,10,1,2.7567,NaN,17.96%,NaN,NaN,5.667029,NaN,1
85,1990,9,28,2.7467,NaN,NaN,NaN,NaN,5.667029,NaN,1
84,1990,9,27,2.7467,NaN,NaN,NaN,NaN,5.667029,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
10229,2024,2,7,30.9000,33.2330,NaN,NaN,NaN,NaN,NaN,1
10230,2024,2,8,30.9000,33.2855,29.80%,NaN,NaN,NaN,NaN,1
10231,2024,2,9,30.8972,33.3071,NaN,NaN,NaN,NaN,NaN,1
10216,2024,1,19,30.8967,33.6053,NaN,NaN,NaN,NaN,NaN,1
10267,2024,3,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [21]:
InflationIndicator_df[['year', 'month', 'day', 'EGP', 'USD', "EUR", 'cpi_rate', 'XAU_Price', 'InterestRate', 'gdp_rate', 'UnemploymentRate']]

,year,month,day,EGP,USD,EUR,cpi_rate,XAU_Price,InterestRate,gdp_rate,UnemploymentRate
0,1990,5,31,1,2.6892,NaN,NaN,NaN,NaN,5.667029,NaN
87,1990,10,2,1,2.7567,NaN,NaN,NaN,NaN,5.667029,NaN
86,1990,10,1,1,2.7567,NaN,17.96%,NaN,NaN,5.667029,NaN
85,1990,9,28,1,2.7467,NaN,NaN,NaN,NaN,5.667029,NaN
84,1990,9,27,1,2.7467,NaN,NaN,NaN,NaN,5.667029,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10229,2024,2,7,1,30.9000,33.2330,NaN,NaN,NaN,NaN,NaN
10230,2024,2,8,1,30.9000,33.2855,29.80%,NaN,NaN,NaN,NaN
10231,2024,2,9,1,30.8972,33.3071,NaN,NaN,NaN,NaN,NaN
10216,2024,1,19,1,30.8967,33.6053,NaN,NaN,NaN,NaN,NaN
10267,2024,3,28,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
InflationIndicator_df.to_csv('./inflationIndicatorsUpdates/InflationIndicators.csv', index= False)